h1 {
color: black;
font-family: "times new roman", "Times", serif;
font-size: 40px;
}

h1 {
padding: 10px;
}

h1 {
  background-color: #20B2AA;
   margin-bottom: 100px;
}

h1 {
  text-align: center;
}

h2 {
margin-top: 30px;
}

h2 {
border-bottom: 2px solid #333333;
}

body {
  color: #191970;
  background-color: #ADD8E6;
  font-family: "times new roman", "Times", serif;
  font-size: 20px;
}

p {
  padding: 0 45px;
  text-indent: 15px;
}

a{
  line-height: 10;
}

#usopen {
  text-align: center;
  float: right;
  background-color: #20B2AA;
}
